# Install global modules to the home directory, instead of the Nix store.
# https://nixos.wiki/wiki/Node.js#Install_to_your_home
# NOTE: Remember to append PATH with $HOME/.npm-global/bin
prefix=~/.npm-global
